@-webkit-keyframes simple {
	0% { color: #39f; }
	50% { color: #f93; }
	100% { color: #39f; }
}

body {
	margin: 0;
}

header {
	border-bottom: 1px solid #000;
	border-radius: 10px;
	padding: 0 20px;
	margin: 0 10px;
}

header h1{
	color: #39f;
	text-shadow: 1px 1px 2px #000;
	-webkit-animation-name: simple; 
	-webkit-animation-delay: 1s; 
	-webkit-animation-duration: 5s; 
	-webkit-animation-iteration-count: infinite; 
	-webkit-animation-timing-function: linear; 
}

article{
	padding: 20px;
	margin: 0 0 30px;
}

article p{
	margin: 0;
	text-indent: 30px;
}

section{
	background: linear-gradient(to top, black, white); 
	padding: 0 0 20px;
}

section video{
	display: block;
	width: 700px;
	height: auto;
	margin: 0 auto;
	border: 1px solid #39f;
	border-radius: 25px;
}
